<div class="jumbotron text-center line-height-override">
    <h1 class="text-center">PORTFOLIO</h1>
    <div class="text-center">a collection of projects I've worked on</div>
    <!-- loop over the projects in $scope.projects -->
    <div ng-repeat="project in projects">
        <p class="text-center img-divider">
            <img src="img/divider.png" alt="--------" title="Ethanol" />
        </p>
        <h2 class="text-center">
            {{ project.title }}
        </h2>
        <div class="text-center">
            <img ng-src="{{ project.imageUrl }}" ng-attr-alt="{{ project.imageTitle }}" ng-attr-title="{{ project.imageTitle }}" />
        </div>
        <div class="text-left">
            <p>
                Download source project: <a ng-href="{{ project.sourceUrl }}">source</a><br />
                Download installer: <a ng-href="{{ project.installerUrl }}">installer</a><br />
                Platform: {{ project.platform.join(', ') }}
            </p>
            <p ng-repeat="description in project.description">
                {{ description }}
            </p>
            <p>
                <h3>The Team: {{ project.team }}</h3>
                <ul>
                    <li ng-repeat="role in project.roles">
                        {{ role.name }}
                        <ul>
                            <li ng-repeat="member in role.members">
                                {{ member }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
